.pageTitle {
  margin: 0;
  font-size: 3rem;
}

.grid {
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.action {
  text-align: left;
  color: dodgerblue;
}

.note {
  height: auto;
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  background: hsl(300, 35%, 85%);
  box-shadow: 2px 2px 8px 1px hsl(300, 35%, 85%, 0.5);
  border: solid 4px hsl(300, 35%, 65%);
  border-radius: 0.5rem;
}

.container {
  padding: 0 2rem;
}

.title {
  padding: 0.1rem;
  font-size: big;
}

.content {
  font-size: 0.9rem;
  font-weight: normal;
}

.created {
  font-size: 0.7rem;
  font-weight: lighter;
}
